<html>
    <header><title>This is title</title></header>
    <body>
        <div id="app">
            <p v-if="seen">{{ message }}</p>
            <p v-if="!seen"><alert-box>NOTHING TO SEE!</alert-box></p>
            <button v-on:click="hideMessage" v-if="seen">Hide Mensage</button>
            <button v-on:click="showMessage" v-if="!seen">Show hidden Mensage</button>
            <button-counter></button-counter>
        </div>
        <script type="text/javascript" src="app.js"></script>
        
    </body>
</html>